import SwiftUI

struct Acknowledgements: View {
{{#grouppkg}}
{{#pkg}}
  func ack_{{functionFormatter(name)}}() -> String {
"""
{{license}}
"""
  }
{{/pkg}}
{{/grouppkg}}

  var body: some View {
    Form {
{{#grouppkg}}
      Group {
{{#pkg}}
      NavigationLink("{{name}}", destination: ScrollView {
        VStack {
          Text(ack_{{functionFormatter(name)}}())
            .lineLimit(nil)
            .padding()
          Spacer()
        }
      })
{{/pkg}}
      }
{{/grouppkg}}
    }
  }
}
